//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 05 14:41:27 2020
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

