//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 04 16:50:34 2020
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

